extends layouts/app.pug

block styles
    link(rel="stylesheet" href="/css/form.css")

block content
    form.product-form(action="/admin/product" method="post")
        div.form-control
            label(for="title") Product Title
            input(type="text" id="title" name="title" placeholder="Product Title")
        button(type="submit") Add Product